.map{
    height:450px;
    width: 1110px;
}

 .icon{
     font-size: 30px;
 }


@media only screen and (max-width: 600px) {
  .map{
    height:200px;
    width: 300px; 
 }
 .icon{
     font-size: 15px;
 }
 
}
